<HTML>
<head>
<style>

.add
{
position: absolute;
    bottom: 25px;
    right: 36px;


}
body{

background: red; 
    background: -webkit-linear-gradient(white, cyan); 
    background: -o-linear-gradient(white, cyan); 
    background: -moz-linear-gradient(white, cyan); 
    background: linear-gradient(white, cyan); 
	margin-top:40px;

}
.pic{
height:300px;
width:300px;
background:black;

}
.button {
height:40px;
width:100px;
color:white;
font-size:20px;
background:blue;
margin-top:5px;

}
</style>
</head>
<body>
<div>
<center>
    <h3>Username</h3>
<img class="pic" src="" ></img>
</br>
<input type='button'  class="button " value="like!" >
<input type='button'  class="button " value="Comment" >
<input type='button'  class="button " value="Save" >
<div class="add"> <a href="/upload/"> <img  style="height:70px;width:70px;" src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/add.png"> </img></a>  </div>

</center>
</div>
</body>


</HTML>
