<html>
<head>
<style>

body{

background: red; 
    background: -webkit-linear-gradient(red, yellow); 
    background: -o-linear-gradient(red, yellow); 
    background: -moz-linear-gradient(red, yellow); 
    background: linear-gradient(red, yellow); 

}
h1{
color:green;
font-size:70px;
margin-top:200px;
}
.button
{
height:20px;
width:200px;
position:center;
padding-top:9px;
padding-bottom:30px;
background:red;
font-size:20px;
color:white;
}
</style>
<title>
Successfully signed up...
</title>
</head>
<body>

<center>
<h1> Signed up Succesfully ....</h1>
<a href="/login/">
<input type='Button' value='Go to login page' class='button' >
</a>
</center>
</body>

</html>
